/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: underline;
  color: #666;
}
a:hover {
  color: #e74f4d;
  transition: color .2s;
  text-decoration: none;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
header {
  margin-bottom: 20px;
}
footer {
  width: 1040px;
  margin: 0 auto;
  font-size: 12px;
  color: #969696;
}
.nav-wrap {
  padding: 0 40px;
  height: 29px;
  background-color: #545652;
}
.nav-wrap .main-nav {
  float: left;
}
.nav-wrap .main-nav li {
  display: inline-block;
  font-size: 0;
}
.nav-wrap .user-center {
  float: right;
}
.nav-wrap a {
  font-size: 12px;
  line-height: 29px;
  color: #d5d5d5;
  padding: 0 12px;
  text-decoration: none;
}
.nav-wrap a:hover {
  color: #fff;
}
.main-content {
  width: 1040px;
  margin: 0 auto;
}
.main-content::after {
  content: ' ';
  clear: both;
  display: block;
}
.main-content aside {
  float: right;
  width: 300px;
}
.main-content .left-aside {
  float: left;
  width: 680px;
  margin-right: 60px;
}
.main-content .profile {
  background-color: #FFF6ED;
  border: 1px solid #faefe3;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  margin-bottom: 12px;
}
.main-content .profile .base-info::after {
  content: ' ';
  clear: both;
  display: block;
  border-bottom: 1px solid #f5e9db;
}
.main-content .profile .header-wrap {
  float: left;
  margin: 0 10px 8px 0;
  border-radius: 2px;
  overflow: hidden;
  width: 160px;
  height: 160px;
}
.main-content .profile .user-info {
  color: #666;
  font-size: 13px;
}
.main-content .profile .user-info .pl {
  margin-top: 6px;
}
.main-content .profile .user-intro {
  padding: 5px 0;
  font-size: 13px;
}
.main-content .profile .user-intro p {
  line-height: 19px;
}
.main-content .profile .edit-msg {
  display: none;
}
.main-content .profile .edit-msg textarea {
  width: 100%;
  height: 3.5em;
  resize: none;
}
.main-content .radio-content-warp .radio-list {
  list-style: none;
}
.main-content .radio-content-warp .item-title {
  margin-bottom: 6px;
}
.main-content .radio-content-warp .item-title a {
  margin: 0 8px;
}
.main-content .radio-content-warp .item-content {
  margin-bottom: 6px;
}
.main-content .radio-content-warp .item-info {
  margin-bottom: 16px;
}
.main-content .radio-content-warp li {
  margin-top: 4px;
  border-bottom: 1px solid #ddd;
}
.main-content .content-title {
  line-height: 150%;
  margin-bottom: 20px;
}
.main-content .content-title:hover {
  background-color: #f2fbf2;
}
.main-content .content-title h2 {
  font-size: 16px;
  display: inline-block;
  color: #072;
  font-weight: 500;
}
.main-content .content-title h2::after {
  content: ' · · · · · ';
}
.main-content .content-title .all {
  display: inline-block;
}
.main-content .like-content-wrap .content ul {
  list-style: none;
  padding: 4px 2px;
  border-bottom: 1px dashed #ddd;
}
.main-content .like-content-wrap .content ul:after {
  content: ' ';
  display: block;
  clear: both;
}
.main-content .like-content-wrap .content a,
.main-content .like-content-wrap .content span {
  font-size: 13px;
  line-height: 19px;
}
.main-content .like-content-wrap .content a {
  float: left;
  text-decoration: none;
}
.main-content .like-content-wrap .content span {
  float: right;
}
